.parte-de-cima {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 188px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  background-color: #b5de2e;
}

.parte-de-cima .div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 40px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.parte-de-cima .frame-logo {
  display: flex;
  width: 104.71px;
  height: 104px;
  align-items: center;
  gap: 10px;
  padding: 0px 32px;
  position: relative;
  background-color: #fff300;
}

.parte-de-cima .LOGO-a-ESTUDANTE {
  position: relative;
  width: 36px;
  height: 104px;
  object-fit: cover;
}

.parte-de-cima .barra-de-pesquisa {
  display: flex;
  width: 695.3px;
  height: 48px;
  align-items: center;
  padding: 6px var(--size-space-200) 6px var(--size-space-200);
  position: relative;
  background-color: #ffffff;
  border-radius: 7px;
  border: 1px solid;
  border-color: #7b961f;
}

.parte-de-cima .texto {
  position: relative;
  width: 528px;
  height: 30px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 24px;
}

.parte-de-cima .lupa {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 6px;
  left: 652px;
}

.parte-de-cima .conta {
  display: flex;
  width: 172.72px;
  align-items: center;
  justify-content: center;
  gap: 40px;
  position: relative;
}

.parte-de-cima .vector {
  position: relative;
  width: 60px;
  height: 60px;
}

.parte-de-cima .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 40px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #7b961f;
}

.parte-de-cima .text-wrapper {
  position: relative;
  width: fit-content;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}
